@use "sass:color";
$standard-font: "SourceSansPro", "Verdana", "Tahoma", "Arial", sans-serif;
$header-font: "Helsinki", "Goudy Stout", "Arial", sans-serif;
$highlight-color: #A6C5E5; 
$secondary-color: #000066; 
$text-color: #3b3b3b;
$button-text-color: #000066;
$background-color: #fff;
$button-color: #EAEEF5;
$success-color: lightgreen;
$warning-color: lightyellow;
$failure-color: lightcoral;
$font-size: 1.2rem; // note this is rem (relative to html root) not em (relative to parent)
$subtle-text: rgba(128,128,128,0.5);

// These colours are for the categories in the browse page

$color0: rgba(100, 131, 255, 0.5);
$border0: rgba(192, 214, 228, 1);
$color1: rgba(248, 200, 246, 0.5);
$border1: rgba(248, 200, 246, 1);
$color2: rgba(192, 214, 228, 0.5);
$border2: rgba(192, 214, 228, 1);
$color3: rgba(128, 218, 128, 0.5);
$border3: rgba(128, 218, 128, 1);
$color4: rgba(255, 240, 178, 0.5);
$border4: rgba(255, 240, 178, 1);
$color5: rgba(211, 173, 157, 0.5);
$border5: rgba(211, 173, 157, 1);
$color6: rgba(114, 95, 163, 0.5);
$border6: rgba(114, 95, 163, 1);
$color7: rgba(250, 100, 48, 0.5);
$border7: rgba(250, 100, 48, 1);
$color8: rgba(119, 215, 191, 0.5);
$border8: rgba(119, 215, 191, 1);
$color9: rgba(191, 101, 30, 0.5);
$border9: rgba(191, 101, 30, 1);
$color10: rgba(179, 141, 31, 0.5);
$border10: rgba(179, 141, 31, 1);

/* ########################################
                  FONTS
 ########################################## */

@font-face {
  font-family: "SourceSansPro";
  src: url("../assets/fonts/source-sans-pro/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Helsinki";
  src: url("../assets/fonts/helsinki/helsinki.ttf") format("opentype");
}

/* ########################################
                  ELEMENTS
 ########################################## */

html {
  max-width: 100vw;
  margin: 0;
}

body {
  font-family: $standard-font;
  color: $text-color;
  font-size: $font-size;
  margin: 0;
  max-width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  color: $highlight-color;
}

a {
  color: $text-color;
  text-decoration: dashed underline $highlight-color;
}

button {
  border: 1px solid $text-color;
  font-family: $standard-font;
  font-size: $font-size * 0.8;
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
}

code, pre {
  background: rgba($button-color, 0.5);
  padding: ($font-size/5);
}

input,
select,
span,
textarea {
  font-family: $standard-font;
  font-size: $font-size;
  box-sizing: border-box;
  max-width: 100%;
}

/* ########################################
                  CLASSES
 ########################################## */

/* LOADER SCREEN */

.loader {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
}

.loader-container {
  position: fixed;
  min-height: 100vh;
  width: 100vw;
  background: rgba($background-color, 0.8);
  text-align: center;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
}

.loader-text p {
  color: $highlight-color;
  font-size: $font-size * 2;
  font-family: $header-font;
}

/* MAIN */

.main {
  min-height: 100vh;
  padding: 2em;
  margin: auto;
  max-width: 960px;
}

.hidden {
  visibility: hidden;
}

/* ##############
    buttons
 ############## */

 .actions-button {
  background-color: $button-color;
  color:$button-text-color;
}

 .approve-button {
  margin: 0.25em auto;
}

.cancel-button {
  border: none;
}	

.failing-suspended-button {
  margin-top: 1em;
  border: 1px solid $text-color
}

.search-button {
  margin: 1em auto 0;
  font-family: $header-font;
  border: 1px solid $highlight-color;
  background: $background-color;
  padding: 5px 10px;
}

.update-button {
  margin-top: 0.5em;
}

.browse-actions .actions-button {
  width: $font-size * 5;
}

.article-search button,
.login-form input {
  font-size: $font-size;
}

.browse-actions {
  text-align: right;
  max-width: 300px;
}

.action {
  border: none;
  font-weight: bold;
  color: $text-color;
  background-color: rgba($button-color, 0.5);
  width: 100%;
}

.action:nth-child(odd) {
  color: $text-color;
  background-color: rgba($button-color, 0.5);
  border-bottom: none;
}

.action:nth-child(even) {
  color: $text-color;
  background-color: $button-color;
}

.reject-button,
.delete-button {
  color: $highlight-color;
  border-color: $highlight-color;
  background-color: $background-color;
}

.admins-list div button{
  float: right;
}

.action.excluded {
  color: rgba(255, 115, 140, 1);
  background-color: rgba($button-color, 0.25);
}

button:hover,
.action:hover {
  color: $text-color;
  background-color: rgba($highlight-color, 0.5);
}

/* ##############

  flash messages

 ############## */

#user-messages {
  position: sticky;
  top: 0;
}

.flash-success {
  padding: 0.5em;
  border-radius: 5px;
  color: $button-text-color;
  background: $success-color;
  text-align: center;
  margin-bottom: 0.5em;
}

.flash-error {
  padding: 0.5em;
  border-radius: 5px;
  color: $button-text-color;
  background: $failure-color;
  text-align: center;
  margin-bottom: 0.5em;
}

.flash-warning {
  padding: 0.5em;
  border-radius: 5px;
  color: $button-text-color;
  background: $warning-color;
  text-align: center;
  margin-bottom: 0.5em;
}

.flash-close {
  color: $subtle-text;
  float: right;
  text-decoration: none;
  margin-right: 0.5em;
  cursor: pointer;
}

/* ##############
    footer
 ############## */

.footer {
  text-align: center;
  font-family: $header-font;
  padding: 2em 1em 1em 1em;
  background: $highlight-color;
  color: $background-color;
}

.footer a {
  color: $text-color;
  text-decoration: none;
  font-weight: normal;
}

.credits {
  font-size: $font-size * 0.9;
  text-align: right;
  font-family: $standard-font;
  color: $text-color;
}

.credits a {
  border-bottom: 2px dotted $background-color;
}

.icon {
  height: 80px;
  width: 80px;
}

.menu-icon {
  height: 2em;
  width: 2em;
}

.subscribe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.subscribe a {
  text-decoration: none;
  color: $text-color;
}

.subscription {
  text-align: center;
  margin-top: 1em;
}

header {
  margin: 0;
  padding: 2em 2em 1em 2em;
  background: $secondary-color;
  color: $background-color;
}

header a {
  color: $background-color;
  text-decoration: underline $highlight-color;
}

.nav {
  margin-top: 2em;
}

.nav a {
  text-decoration: none;
  color: $highlight-color;
}

/* ###################
    archive and search
 ##################### */

.archive-and-search {
  border: 2px solid color.scale($text-color,$alpha: -70%);
  padding: 0.5em 0;
  margin: 1em 0;
  border-radius: 5px;
  text-align: center;
}

.archive-and-search a {
  color: $button-text-color;
}

.article-search {
  margin: 2em auto 0.5em;
}

.article-search input[type="text"],
input[type="email"].email-signup {
  margin: 1em auto 0;
  font-size: $font-size * 2;
  text-align: center;
  width: 90%;
  max-width: 90%;
}

/* ##############
    paged nav
 ############## */

.paged {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.next {
  text-align: right;
}

.prev {
  text-align: left;
}

/* ##############
    articles
 ############## */

.article-listing {
  background: color.scale($text-color, $alpha: -90%);
  border: 1px solid $background-color;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

.article-listing * {
  margin-bottom: 0.5em;
  text-decoration: none;
}

.article-title {
  font-weight: bold;
  color: $text-color;
  font-size: $font-size * 1.2;
}

.article-date,
.article-tag {
  font-style: italic;
  font-size: $font-size * 0.8;
}

.article-tag {
  display: inline-block;
  border: 1px solid $highlight-color;
  border-radius: 5px;
  background: $background-color;
  margin: 2px 1px;
  padding: 0.5em;
}

.blog-title a {
  font-weight: bold;
}

/* ##############
    tags
 ############## */

#top-tags {
  text-align: center;
}

#top-tags h3 {
  text-align: left;
}

.top-tag {
  font-family: $header-font;
  display: inline-block;
  font-size: $font-size * 0.8;
  border: 1px solid $highlight-color;
  border-radius: 5px;
  background: $background-color;
  margin: 2px 1px;
  padding: 0.5em;
}

.top-tag a {
  text-decoration: none;
  color: $text-color;
}

/* ##############
  blogs browse 
 ############## */

.browse-blogs li {
  max-width: 100vw;
  display: grid;
  grid-template-columns: auto minmax(20%, 320px);
}

.blog-listing-url a {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.failing span,
.failing span a {
  color: $failure-color;
  text-decoration: line-through;
  font-style: italic;
}

.suspended span,
.suspended span a {
  color: $subtle-text;
  text-decoration: line-through;
}

span.failing-icon,
span.suspended-icon,
.excluded span.excluded-icon {
  text-decoration: none;
  font-style: normal;
  padding: 0.125em 0.5em;
  margin-left: 1em;
}

span.failing-icon {
  color: $failure-color;
  border: 1px solid $failure-color;
}
span.suspended-icon,
.excluded span.excluded-icon {
  color: $subtle-text;
  border: 1px solid $subtle-text;
}

span[class^=class-] {
  color: $text-color;
  text-decoration: none;
  font-style: normal;
  padding: 0 0.5em;
  margin: 1em;
  line-height: 1.6em;
}

.class-0 {
  background-color: $color0;
  border: 1px solid $border0;
}

.class-1 {
  background-color: $color1;
  border: 1px solid $border1;
}

.class-2 {
  background-color: $color2;
  border: 1px solid $border2;
}

.class-3 { 
  background-color: $color3;
  border: 1px solid $border3;
}

.class-4 {
  background-color: $color4;
  border: 1px solid $border4;
}

.class-5 {
  background-color: $color5;
  border: 1px solid $border5;
}

.class-6 {
  background-color: $color6;
  border: 1px solid $border6;
}

.class-7 {
  background-color: $color7;
  border: 1px solid $border7;
}

.class-8 {
  background-color: $color8;
  border: 1px solid $border8;
}

.class-9 {
  background-color: $color9;
  border: 1px solid $border9;
}

.class-10 {
  background-color: $color10;
  border: 1px solid $border10;
}

ul.browse-blogs {
  list-style: none;
}

.browse-blogs hr {
  color: color.scale($subtle-text, $alpha: -75%);
  background-color: color.scale($subtle-text, $alpha: -75%);
  border: 0 none;
  height: 1px;
}

/* #################
    user dashboard 
 ################### */

// #user-info input {
// 	font-size: $;
// 	font-family: $standard-font;
// }

.user-info {
  margin-bottom: 1em;
}

.user-form-vals {
  display: grid;
  grid-template-columns: 6em minmax(8em, 20em);
  margin-bottom: 0.25em;
  // font-size: 1em;
  font-family: $standard-font;
}

.user-info-vals {
  margin-bottom: $font-size * 5;
}

.pocket-info {
  margin-top: 1em;
}

.blog-list {
  list-style: none;
}

.listed-blog {
  margin-bottom: 0.5em;
}

.approved-blog {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: $success-color;
  border-radius: 50%;
  margin: auto 1em;
  vertical-align: text-bottom;
}

.unapproved-blog {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: $failure-color;
  border-radius: 50%;
  margin: auto 1em;
  vertical-align: text-bottom;
}

.awaiting-approval {
  font-style: italic;
  color: $subtle-text;
}

.claimed-blogs,
.tips,
.admins-list,
.assign-admin {
  border: 1px solid $text-color;
  border-radius: 5px;
  margin-top: 1em;
  padding: 1em;
}

.admin-checkbox {
  margin-right: 2em;
  width: 24px;
}

.deleting a {
  text-decoration: line-through;
  color: $subtle-text;
}

.deleting .approved-blog {
  background-color: $subtle-text;
}

.blog-editing-form {
  margin-left: 2em;
  display: inline;
}

.editing {
  background-color: color.scale($highlight-color, $alpha: -75%);
  text-decoration: none;
}

.editing .approved-blog {
  background-color: $subtle-text;
}

.register-blog-button {
  margin-top: 1em;
}

.register-blog input,
.register-blog select {
  // font-size: $font-size;
  margin-top: 0.5em;
  // width: 90%;
  max-width: 100%;
}

.tip {
  font-style: italic;
}

/* #################
    admin dashboard 
 ################### */

 .form-label {
   font-weight: bold;
 }

 .make-admin {
   margin-top: 1em;
 }

 .feed-link {
  color: $highlight-color;
 }

 .section-admin {
   padding: 1em 15%;
 }

 .section-admin input,
 .section-admin option,
 .section-admin textarea {
   width: 100%;
   display: block;
 }

 .section-admin button {
   margin-top: 0.5em;
 }

 /* #################
    smaller screens 
 ################### */
@media only screen and (max-width : 600px) {

  .main {
    padding: 1em;
    max-width: 100vw;
    overflow-wrap: break-word;
  }
  
  .flash-success {
    overflow-wrap: normal;
  }

  /* HOME (/) and SEARCH (/search) */

  .article-search input[type="text"] {
    margin: auto;
    width: 90%;
    max-width: 90%;
  }

  .article-listing {
    margin: auto;
  }

  /* BROWSE (/browse) */

  .browse-actions {
    text-align: left;
    max-width: 50vw;
    margin-top: 1em;
  }

  .browse-blogs {
    margin: 0 -1em;
    padding: 1em;
  }

  .browse-blogs:nth-child(2n+1) {
    background-color: color.scale($text-color, $alpha: -90%);
  }

  .browse-blogs hr {
    width: 0;
  }

  .browse-blogs ul,
  .browse-blogs li {
    grid-template-columns: auto; 
    list-style-type: none;
    list-style-position: inside;
    margin:0;
    padding:0; 
  }

  .browse-blogs span {
    display: block;
    margin: 0.5em 0;
    text-align: center;
  }

  span[class^="class-"] {
    text-align: center;
  }

  .excluded span.excluded-icon {
    margin-left: 0
  }

  .browse-actions {
    width: 100%;
    max-width: 100%;
  }

  /* SUBSCRIBE (/subscribe) */

  .subscribe {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* ACCOUNT (/user) */

  .blog-list,
  .blog-list ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  .approved-blogs {
    border: 1px solid $success-color;
    padding: 1em;
  }

  .unapproved-blogs {
    border: 1px solid $failure-color;
    padding: 1em;
    margin: 1em 0;
  }

  .approved-blogs span {
    display: block;
    margin-bottom: 0.5em;
  }

  .approved-blog,
  .unapproved-blog {
    display: none;
  }

  .listed-blog.editing {
    margin: -1em;
    padding: 1em;
  }

  .listed-blog:nth-child(1n+2) {
    border-top: 1px solid $text-color;
    padding-top: 1em;
    margin-top: 1em;
  }

  .listed-blog {
    text-align: center;
  }

  .blog-editing-form {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .blog-editing-form select {
    margin-bottom: 1em;
  }

  /* ADMIN (/admin) */

  .claimed-blogs form {
    margin-top: 1em;
  }

  .claimed-blogs span {
    display: block;
  }

  .admins-list div button,
  .assign-admin button,
  .claimed-blogs button {
    margin-top: 1em;
    float: none;
  }

}