<header id="main-header">
	<h1>Aus GLAM Blogs</h1>
	<h2>For people who've never metadata they didn't like</h2>
	<p>Aus GLAM Blogs is an aggregator for blogs by Australian gallery, library, archive, museum, records and other memory and culture workers.</p>
	<p>Built by <a href="https://www.hughrundle.net">Hugh Rundle</a> for <a href="https://newcardigan.org">newCardigan</a>.</p>
  <nav class="nav">
		<a href="/">home</a> |
    <a href="/subscribe">subscribe</a> |
    <a href="/letmein">login or register</a> |
	</nav>
</header>