<div class="article-list">
	{if articles}
		{for doc in articles}
		<div class="article-listing">
			<div class="article-title"><a href={doc.link}>{doc.title}</a></div>
      <div class="blog-title">
        <span class="">{doc.author} - </span>
        <a href="{doc.blogLink}">{doc.blogTitle}</a>
         <span class="article-date">{doc.relativeDate}</span>
      </div>
			<div class="article-tags">
				{for tag in doc.tags}
				<span class="article-tag">
					<a href="search?tag={tag.encoded}">{tag.tag}</a>
				</span>
        {/for}
			</div>
		</div>
		{/for}
	{else}
		<p>There are no articles for this search. Try a different month, or a different term.</p>
	{/if}
</div>