<div id="loader" class="invisible">
  <div class="loader-container">
    <div class="loader-text">
      <p>Processing request...</p>
    </div>
  </div>
</div>
<header id="main-header">
	<h1>{appName}</h1>
	{if appTagline}<h2>{appTagline}</h2>{/if}
	<p>{appDescription}</p>
  <nav class="nav">
		<a href="/">home</a> |
    <a href="/subscribe">subscribe</a> |
    {if user}
    <a href="/user">account</a>
    | <a href="/logout">log out</a>
    {else}
    <a href="/letmein">login or register</a>
    {/if}
	</nav>
</header>