<!DOCTYPE html>
<html>
<head>
	<!-- development version, includes helpful console warnings -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
	<!-- production version, optimized for size and speed -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<link rel="stylesheet" type="text/css" href="/styles/loader.css">
	<meta charset="utf-8">
	<meta lang="en-au">
	<title>{pageTitle} {if page}- {page}{/if}{if searchterm}- {searchterm}{/if}</title>
</head>
<body>