<style>
@font-face {
	font-family: "Helsinki";
	src: url("../assets/fonts/helsinki/helsinki.ttf") format("opentype");
}

html {
  background-color: #3a3a3a;
}

.wrong {
  margin: 6em 0;
  text-align: center;
	color: #ff748c;
  font-family: "Helsinki"
}

.home {
  text-align: center;
  padding: 1em;
  margin: auto;
  width: max-content;
  border: 2px solid #ff748c;
}

.home a {
  color: #fff;
  text-decoration: none;
}
</style>

<div class="wrong">
  <h1>😲</h1>
  <h1>Something has gone terribly wrong</h1>
</div>
<div class="home">
  <a href="/">I want to go home</a>
</div>