{>head}
  {>header}

  
    <section class="main">
      {if errors}
      {for msg in errors}<div class="flash-error">{msg}</div>{/for}
      {/if}
      {if warnings}
        {for msg in warnings}<div class="flash-warning">{msg}</div>{/for}
      {/if}
      {if success}
        {for msg in success}<div class="flash-success">{msg}</div>{/for}
      {/if}
      <h2>Awaiting Approval</h2>
      {if approvals}
      <div class="flash-warning">You have blog {if legacy}claims or {/if}approvals to deal with</div>
      {else}
      <div>There are no blogs awaiting approval.</div>
      {/if}
      {for user in approvals}
      <div class="claimed-blogs">
        <div><strong>Email:</strong> <a href="mailto:{user.email}">{user.email}</a></div>
        <div><strong>Twitter:</strong> <a href="https://twitter.com/{user.twitter}">{user.twitter}</a></div>
        <div><strong>Mastodon:</strong> {user.mastodon}</div>
        <div><strong>Claiming:</strong></div>
          <ul class="blog-list">
            {for blog in user.claims.blogs}
            <li>
              <form>
                <a href="{blog.url}">{blog.url}</a>
                <input type="hidden" name="user" value="{user._id}">
                <input type="hidden" name="blog" value="{blog._id}">
                <input type="submit" class="approve-button" value="Approve">
                <input type="submit" class="reject-button" value="Reject">
              </form>
            </li>
            {/for}
          </ul>
      </div>
      {/for}
    </div>
    <div class="failing-feeds">
      <h2>Failing feeds</h2>
      {if failing}
      <div class="flash-warning">You have failing feeds to attend to</div>
      {else}
      <div>You have no failing feeds to attend to.</div>
      {/if}
      
      {if failing}
      <p>These blog feeds are currently failing. Note that this may be a temporary glitch: always do your homework before deleting a blog from {appName}</p>
      {for blog in failing}
        <form action="/admin/deleteblog" method="post" class="blog-list">
          <!-- TODO: these need to be deleted one by one so we can update each user before deleting the blog -->
          <a href="{blog.feed}">{blog.url}</a>
          <input type="hidden" name="id" value={blog.idString} class="admin-checkbox">
          <input type="submit" id="deleteFailing" class="delete-button" value="Delete">
        </form>
      {/for}
      {/if}
    </section>
  {>footer}
{>foot}