{>head}
  {>header}

  
    <section class="main">
      {if errors}
      {for msg in errors}<div class="flash-error">{msg}</div>{/for}
      {/if}
      {if warnings}
        {for msg in warnings}<div class="flash-warning">{msg}</div>{/for}
      {/if}
      {if success}
        {for msg in success}<div class="flash-success">{msg}</div>{/for}
      {/if}
      <h2>Awaiting Approval</h2>
      {if approvals}
      <div class="flash-warning">You have blog {if legacy}claims or {/if}approvals to deal with</div>
      {else}
      <div>There are no blogs awaiting approval.</div>
      {/if}
      {for user in approvals}
      <div class="claimed-blogs">
        <div><strong>Email:</strong> <a href="mailto:{user.email}">{user.email}</a></div>
        <div><strong>Twitter:</strong> <a href="https://twitter.com/{user.twitter}">{user.twitter}</a></div>
        <div><strong>Mastodon:</strong> {user.mastodon}</div>
        <div><strong>{if legacy}Claiming or {/if}Awaiting Approval:</strong></div>
          <ul class="blog-list">
            {for blog in user.claims.blogs}
            <li>
              <form method="post">
                <a href="{blog.url}">{blog.url}</a>
                <input type="hidden" name="url" value="{blog.url}">
                <input type="hidden" name="user" value="{user._id}">
                <input type="hidden" name="blog" value="{blog._id}">
                <button class="approve-button" formaction="/admin/approve-blog" type="submit" >Approve</button>
                <button class="reject-claim-button" formaction="/admin/reject-blog" type="button">Reject</button>
              </form>
            </li>
            {/for}
          </ul>
      </div>
      {/for}
    </div>
    <div class="failing-feeds">
      <h2>Failing feeds</h2>
      {if failing}
      <div class="flash-warning">You have failing feeds to attend to</div>
      {else}
      <div>You have no failing feeds to attend to.</div>
      {/if}
      
      {if failing}
      <p>These blog feeds are currently failing. Note that this may be a temporary glitch: always do your homework before deleting a blog from {appName}</p>
      {for blog in failing}
        <form action="/admin/deleteblog" method="post" class="blog-list">
          <!-- TODO: these need to be deleted one by one so we can update each user before deleting the blog -->
          <a href="{blog.feed}">{blog.url}</a>
          <input type="hidden" name="id" value={blog.idString} class="admin-checkbox">
          <input type="submit" id="deleteFailing" class="delete-button" value="Delete">
        </form>
      {/for}
      {/if}
      <div class="administrators">
        <h2>Administrators</h2>
        {if admins}
        <ul class="blog-list">
          {for user in admins}
          <li>
            <div class="admin-listing"><span>{user.email}</span><button class="delete-button" form="removeAdmin" type="submit">Remove as admin</button></div>
            <form action="/admin/remove-admin" id="removeAdmin"  method="post">
              <input name="user" type="hidden" value={user.email}>
            </form>
          </li>
          {/for}
        </ul>
        {else}
          <div>You are currently the only administrator. You should add someone else in case you get hit by a bus.</div>
        {/if}
        <div class="make-admin">
          <p>You should trust any user you make an administrator - they will have the power to remove your own admin rights!</p>
          <form action="/admin/add-admin" id="makeAdmin"  method="post">
            <label class="form-label" for="user">User email:</label>
            <input name="user" type="email">
            <button class="add-button" form="makeAdmin" type="submit">Make user admin</button>
          </form>
        </div>
      </div>
    </section>
    <script src="/scripts/admin.js"></script>
  {>footer}
{>foot}