{>head}
  {>header}
    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <section id="main" class="main">
      <message-list v-bind:messages="messages" @remove-message="removeMessage"></message-list>
      <users-with-approvals @add-message="addMessage"></users-with-approvals>
      <failing-blogs-list @add-message="addMessage"></failing-blogs-list>
      <admins-list @add-message="addMessage"></admins-list>
    </section>
    <!-- vuejs components -->
    <script src="/scripts/admin-vue.js"></script>
  {>footer}
{>foot}