{>head}
  {>header}
    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <section id="main" class="main" >
      <loader-screen v-bind:processing="processing"></loader-screen>
      <browse-list v-bind:categories="categories" @loading="loading"></browse-list>
    </section>
    <!-- vuejs components -->
    <script src="/scripts/browse-vue.js"></script>
  {>footer}
{>foot}