
{>head}
  {>header}
  <section class="main">
    <h2 id="loggingin">Logging in</h2>
<p>To log in, click <a href="/letmein">login or register</a> and enter your email address. You will not need to remember a password as the app emails you with a magic time-limited single-use link every time you log in. If you haven't set up an account with that email address, you can now register. If you have, it will remember your details and you will be able to make changes as described below.</p>
<h2 id="registeringyourblog">Registering your blog</h2>
<p>To register your blog, you first need to log in. Click <code>login or register</code>, enter an email address, and click on the link when you receive it in your email inbox. Once you are logged in, click <code>Register a new blog</code> on your account page.</p>
<p>Enter the URL of your blog (e.g. <code>https://blog.example.com</code>), select a category, and click <code>Register blog</code>. Note that unlike previous versions of <em>Aus GLAM Blogs</em> it is the URL of the <strong>blog</strong> you should enter here, not the RSS feed - it will find that automatically.</p>
<h2 id="claimingablogthatisalreadyregistered">Claiming a blog that is already registered</h2>
<p>If your blog was already registered, you can 'claim' a blog on the <code>browse</code> page. Make sure you are logged in first. You will then be able to click on 'Actions' to the right of each blog, and then click <code>Claim ownership of this blog</code>. Your claim of ownership will be assessed by an administrator, who may get in contact with you to verify that you really do actually control the blog before approving your claim. Once approved, you will be able to edit the category of the blog or delete it, and it will be linked to your Twitter and Mastodon accounts if you have listed them.</p>
<h2 id="excludinganindividualblogpost">Excluding an individual blog post</h2>
<p>If you write a blog post that is 'off topic' and don't want it to be included in the <em>Rockpool</em> database or tweeted/tooted, you can exclude it from being ingested by assigning one of the following tags to the post using your blogging software:</p>
<ul>
<li><code>notrockpool</code></li>
</ul>
<h2 id="subscribingviapocket">Subscribing via Pocket</h2>
<ol>
<li>Log in by clicking <code>login or register</code>, enter an email address, and click on the link when you receive it in your email inbox.</li>
<li>Click on <code>Subscribe via Pocket</code>.</li>
<li>Authorise the app in the Pocket screen that appears.</li>
<li>That's it!</li>
</ol>
<h2 id="unsubscribingpocket">Unsubscribing Pocket</h2>
<ol>
<li>Log in by clicking <code>login or register</code>, enter an email address, and click on the link when you receive it in your email inbox.</li>
<li>Click on <code>Cancel Pocket subscription</code></li>
<li>Go to <a href="https://getpocket.com/connected_applications">https://getpocket.com/connected_applications</a> and "remove access" to this app.</li>
</ol>
<h2 id="excludingoneofmoreblogsfrompocketsubscription">Excluding one of more blogs from Pocket subscription</h2>
<p>On the <code>browse</code> page you can exclude or include (unexclude) each blog. Make sure you are logged in first, and have registered your Pocket account. You will then be able to click on 'Actions' to the right of each blog, and then click the button to Exclude or Include.</p>
<p>If you 'exclude' a blog, when new posts are published they will <strong>not</strong> be added to your Pocket list.</p>
  </section>
  {>footer}
{>foot}
