
{>head}
  {>header}
  <section class="main">
    <h2 id="help">Help</h2>
<h2 id="registeringyourblog">Registering your blog</h2>
<h2 id="excludinganindividualblogpost">Excluding an individual blog post</h2>
<p>If you write a blog post that is 'off topic' and don't want it to be included in the <em>Aus GLAM Blogs</em> database or tweeted/tooted, you can exclude it from being ingested by assigning one of the following tags to the post using your blogging software:</p>
<ul>
<li><code>notglam</code></li>
<li><code>notglamblogs</code></li>
<li><code>notausglamblogs</code></li>
</ul>
<h2 id="subscribingviapocket">Subscribing via Pocket</h2>
<h2 id="unsubscribingpocket">Unsubscribing Pocket</h2>
<h2 id="excludingoneofmoreblogsfrompocketsubscription">Excluding one of more blogs from Pocket subscription</h2>
  </section>
  {>footer}
{>foot}