
{>head}
  {>header}
  <section class="main">
    <h2 id="help">Help</h2>
<h2 id="registeringyourblog">Registering your blog</h2>
<p>To register your blog, you first need to log in. Click <code>login or register</code>, enter an email address, and click on the link when you receive it in your email inbox. Once you are logged in, you can enter the URL of your blog (e.g. <code>https://blog.example.com</code>), select a category, and click <code>Register blog</code>.</p>
<h2 id="claimingablogthatisalreadyregistered">Claiming a blog that is already registered</h2>
<p>If your blog was already registered, you can 'claim' a blog using the same process described above, except that you should click <code>Claim blog</code> instead of 'Register blog'.</p>
<h2 id="excludinganindividualblogpost">Excluding an individual blog post</h2>
<p>If you write a blog post that is 'off topic' and don't want it to be included in the <em>Rockpool</em> database or tweeted/tooted, you can exclude it from being ingested by assigning one of the following tags to the post using your blogging software:</p>
<ul>
<li><code>notrockpool</code></li>
</ul>
<h2 id="subscribingviapocket">Subscribing via Pocket</h2>
<ol>
<li>Log in by clicking <code>login or register</code>, enter an email address, and click on the link when you receive it in your email inbox.</li>
<li>Click on <code>Subscribe via Pocket</code>.</li>
<li>Authorise the app in the Pocket screen that appears.</li>
<li>That's it!</li>
</ol>
<h2 id="unsubscribingpocket">Unsubscribing Pocket</h2>
<ol>
<li>Log in by clicking <code>login or register</code>, enter an email address, and click on the link when you receive it in your email inbox.</li>
<li>Click on <code>Cancel Pocket subscription</code></li>
<li>Go to <a href="https://getpocket.com/connected_applications">https://getpocket.com/connected_applications</a> and "remove access" to this app.</li>
</ol>
<h2 id="excludingoneofmoreblogsfrompocketsubscription">Excluding one of more blogs from Pocket subscription</h2>
<p>TODO</p>
  </section>
  {>footer}
{>foot}