{>head}
	{>header}
    <section class="main">
    <form class="login-form" action="/sendtoken" method="POST">
      <input type="hidden" name="delivery" value={delivery}>
      <label for="user">Enter your email to sign in or sign up</label><br/>
      <input class="email-signup" name="user" type="email" required><br>
      <input class="search-button" type="submit" value="Let me in!">
      <section>
        <p>Having trouble with the link? <a href="/get-login-token">Use a login token instead</a></p>
      </section>
    </form>
    </section>
  {>footer}
{>foot}
