{>head}
	{>header}
    <section class="main">
      {if errors}
      {for msg in errors}<div class="flash-error">{msg}</div>{/for}
      {/if}
      <h3>Subscribe</h3>
      <div class="subscribe">
        <a class="subscription" rel="me" href="{twitter_url}">
          <img class="icon" src="assets/images/twitter-icon.svg">
          <br>
          Twitter
        </a>
        <a class="subscription" rel ="me" href="{mastodon_url}">
          <img class="icon" src="assets/images/masto-icon.svg">
          <br>
          Mastodon
        </a>
        <a id="pocketlink" class="subscription" href="/user/pocket">
            <img class="icon" src="assets/images/pocket-icon.svg">
            <br>
            Pocket
        </a>
        <a class="subscription" href="/opml">
          <img class="icon" src="assets/images/opml-icon.svg">
          <br>
          OPML
        </a>
      </div>
    </section>
    <script>
      var pocketlink = document.getElementById('pocketlink')
      function triggerLoading() {
        // trigger loader
        loader.className = 'loader'
      }
      var loader = document.getElementById('loader')
      pocketlink.addEventListener('click', function() {
        triggerLoading()
      }, false)
    </script>
  {>footer}
{>foot}