{>head}
	{>header}
    <section class="main">
      <h3>Subscribe</h3>
      <div class="subscribe">
        <a class="subscription" href="https://twitter.com/ausglamblogs">
          <img class="icon" src="assets/twitter-logo.svg">
          <br>
          Twitter
        </a>
        <a class="subscription" href="https://ausglam.space/@blogs">
          <img class="icon" src="assets/mastodon-logo.svg">
          <br>
          Mastodon
        </a>
        <a class="subscription" href="">
          <img class="icon" src="assets/rss-logo.svg">
          <br>
          RSS
        </a>
        <a class="subscription" href="">
          <img class="icon" src="assets/download_opml_logo.svg">
          <br>
          OPML
        </a>
      </div>
    </section>
  {>footer}
{>foot}