@font-face {
	font-family: "SourceSansPro";
	src: url("../assets/fonts/source-sans-pro/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Helsinki";
	src: url("../assets/fonts/helsinki/helsinki.ttf") format("opentype");
}

body {
	font-family: "SourceSansPro", Verdana, Tahoma, Arial, sans-serif;
	color: #3a3a3a;
  margin: 0;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helsinki";
	color: #ff748c;
}

a {
	color: #3a3a3a;
	text-decoration: dashed underline #ff748c;
}

code, pre {
	background: rgba(211, 211, 211, 0.5);
	padding: 0.25em;
}

.main {
	min-height: 100vh;
	padding: 2em;
	margin: auto;
	max-width: 960px;
}

/* footer */

.footer {
	text-align: center;
	font-family: "Helsinki";
	padding: 2em 1em 1em 1em;
	background: #ff748c;
	color: #fff;
}

.footer a {
	color: #3a3a3a;
	text-decoration: none;
	font-weight: normal;
}

.credits {
  font-size: 0.9em;
  text-align: right;
  font-family: "SourceSansPro";
  color: #3a3a3a;
}

.credits a {
  border-bottom: 2px dotted #fff
}

.icon {
	height: 80px;
	width: 80px;
}

.menu-icon {
	height: 2em;
	width: 2em;
}

.subscribe {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.subscribe a {
	text-decoration: none;
	color: #3a3a3a;
}

.subscription {
	text-align: center;
}

header {
	margin: 0;
	padding: 2em 2em 1em 2em;
	background: #3a3a3a;
	color: #fff;
}

header a {
	color: #fff;
	text-decoration: underline #ff748c;
}

.nav {
  margin-top: 2em;
}

.nav a {
	text-decoration: none;
  color: #ff748c;
}

/*archive and search*/

.archive-and-search {
	border: 2px solid 	rgba(58,58,58,0.3);
  padding: 0.5em 0;
  margin: 1em 0;
	border-radius: 5px;
  text-align: center;
}

.archive-and-search a {
  color: #000;
}

.article-search {
  margin: 2em auto 0.5em;

}

.article-search input[type="text"],
input[type="email"].email-signup {
  margin: auto;
  font-size: 2em;
  text-align: center;
  max-width: 100%;
}

button {
  margin: 1em auto 0;
  font-family: "Helsinki";
  font-size: 0.8em;
  border: 1px solid #ff748c;
  background: #fff;
  padding: 5px 10px;
}

.article-search button,
input[type="submit"].email-signup {
  font-size: 1.2em;
}

/* paged nav */
.paged {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.next {
  text-align: right;
}

.prev {
  text-align: left;
}

/*articles*/

.article-listing {
	background: rgba(58,58,58,0.1);
	border: 1px solid #fff;
	border-radius: 10px;
	margin: 1em;
	padding: 1em;
}

.article-listing * {
	margin-bottom: 0.5em;
	text-decoration: none;
}

.article-title {
	font-weight: bold;
	color: #3a3a3a;
	font-size: 1.2em;
}

.article-date {
	font-style: italic;
	font-size: 0.8em;
}

.article-tag {
	display: inline-block;
	font-size: 0.75em;
	font-style: italic;
	border: 1px solid #ff748c;
	border-radius: 5px;
	background: #fff;
	margin: 2px 1px;
	padding: 0.5em;
}

.blog-title a {
  font-weight: bold;
}

/*tags*/

#top-tags {
  text-align: center;
}

#top-tags h3 {
  text-align: left;
}

.top-tag {
  font-family: "Helsinki";
  display: inline-block;
  font-size: 0.85em;
  border: 1px solid #ff748c;
  border-radius: 5px;
  background: #fff;
  margin: 2px 1px;
  padding: 0.5em;
}

.top-tag a {
  text-decoration: none;
  color: #3a3a3a;
}

/* ##############

	blogs browse 

 ############## */

.browse-blogs li {
	display: grid;
	grid-template-columns: auto 320px;
}

span[class^=class-] {
	text-decoration: none;
	font-style: normal;
	padding: 0 0.5em;
	margin: 1em;
	line-height: 1.6em;
}

.failing span,
.failing span a {
	color: red;
	text-decoration: line-through;
	font-style: italic;
}

.suspended span,
.suspended span a {
	color: rgba(159, 159, 159, 1);
	text-decoration: line-through;
}

.failing span.failing-icon {
	color: red;
	border: 1px solid red;
	text-decoration: none;
	font-style: normal;
	padding: 0.125em 0.5em;
	margin-left: 1em;
}

.suspended span.suspended-icon {
	color: rgba(159, 159, 159, 1);
	border: 1px solid rgba(159, 159, 159, 1);
	text-decoration: none;
	font-style: normal;
	padding: 0.125em 0.5em;
	margin-left: 1em;
}

.excluded span.excluded-icon {
	color: rgba(159, 159, 159, 1);
	border: 1px solid rgba(159, 159, 159, 1);
	text-decoration: none;
	font-style: normal;
	padding: 0.125em 0.5em;
	margin-left: 1em;
}

span[class^='class-'] {
	color: #3a3a3a;
	text-decoration: none;
	font-style: normal;
}

.class-0 {
	background-color: rgba(100, 131, 255, 0.5);
	border: 1px solid rgba(192, 214, 228, 1);
}

.class-1 {
	background-color: rgba(248, 200, 246, 0.5);
	border: 1px solid rgba(248, 200, 246, 1);
}

.class-2 {
	background-color: rgba(192, 214, 228, 0.5);
	border: 1px solid rgba(192, 214, 228, 1);
}

.class-3 { 
	background-color: rgba(128, 218, 128, 0.5);
	border: 1px solid rgba(128, 218, 128, 1);
}

.class-4 {
	background-color: rgba(255, 240, 178, 0.5);
	border: 1px solid rgba(255, 240, 178, 1);
}

.class-5 {
	background-color: rgba(211, 173, 157, 0.5);
	border: 1px solid rgba(211, 173, 157, 1);
}

.class-6 {
	background-color: rgba(114, 95, 163, 0.5);
	border: 1px solid rgba(114, 95, 163, 1);
}

.class-7 {
	background-color: rgba(250, 100, 48, 0.5);
	border: 1px solid rgba(250, 100, 48, 1);
}

.class-8 {
	background-color: rgba(119, 215, 191, 0.5);
	border: 1px solid rgba(119, 215, 191, 1);
}

.class-9 {
	background-color: rgba(191, 101, 30, 0.5);
	border: 1px solid rgba(191, 101, 30, 1);
}

.class-10 {
	background-color: rgba(179, 141, 31, 0.5);
	border: 1px solid rgba(179, 141, 31, 1);
}

ul.browse-blogs {
	list-style: none;
}

.browse-blogs hr {
	color:rgba(159, 159, 159, 0.25);
	background-color:rgba(159, 159, 159, 0.25);
	border: 0 none;
	height: 1px;
}

.browse-actions {
	text-align: right;
	max-width: 300px;
}

.browse-button {
	margin: 0;
	border: none;
	cursor: pointer;
	font-family: "SourceSansPro", Verdana, Tahoma, Arial, sans-serif;
}

.actions-button {
	background-color: rgba(211, 211, 211, 1);
	color: rgba(58, 58, 58, 1);
}

.browse-actions .browse-button.actions-button {
	width: 6em;
}

.action {
	font-weight: bold;
	color: rgba(58, 58, 58, 1);
	background-color: rgba(211, 211, 211, 0.5);
	width: 100%;
}

.action:nth-child(odd) {
	color: rgba(58, 58, 58, 1);
	background-color: rgba(211, 211, 211, 0.5);
	border-bottom: none;
}

.action:nth-child(even) {
	background-color: rgba(211, 211, 211, 1);
	color: rgba(58, 58, 58, 1);
}

.action.excluded {
	color: rgba(255, 115, 140, 1);
}

.action:hover {
	color: rgba(58, 58, 58, 1);
	background-color: rgba(255, 115, 140, 0.5);
	width: 300px;
}

/* ##############

	user dashboard 

 ############## */

.user-info {
	margin-bottom: 1em;
}

.user-form-vals {
	display: grid;
	grid-template-columns: max-content minmax(8em, 16em);
}

.profile-value {
	border: none;
	border-bottom: 1px dotted #3a3a3a;
	font-family: "SourceSansPro";
	font-size: 0.8em;
}

.blog-list {
	list-style: none;
	font-size: 1em;
}

.listed-blog {
	margin-bottom: 0.5em;
}

.approved-blog {
	display: inline-block;
	width: 1em;
	height: 1em;
	background: lightgreen;
	border-radius: 50%;
	margin-right: 1em;
	vertical-align: text-bottom;
}

.unapproved-blog {
	display: inline-block;
	width: 1em;
	height: 1em;
	background: lightsalmon;
	border-radius: 50%;
	margin-right: 1em;
	vertical-align: text-bottom;
}

.awaiting-approval {
	font-style: italic;
	color: #8f8f8f;
}
.claimed-blogs {
	border: 1px solid #3a3a3a;
	border-radius: 5px;
	margin-top: 1em;
	padding: 1em;
}

.admin-checkbox {
	margin-right: 2em;
	width: 24px;
}

.delete-button {
	margin-top: 2em
}

.deleting a {
	text-decoration: line-through;
	color: slategray;
}

.deleting .approved-blog {
	background-color: slategray;
}

#pocket {
	display: inline;
}

.blog-editing-form {
	margin-left: 2em;
	display: inline;
}

.editing {
	background-color: rgba(255, 115, 140, 0.25);
	text-decoration: none;
}

.editing .approved-blog {
	background-color: rgba(211, 211, 211, 1);
}

.hidden {
	visibility: hidden;
}

/* buttons */

.approve-button {
	border: 2px solid green;
}

.reject-button {
	border: 2px solid red;
}

.confirm-button {
	border: 2px solid blue;
}

/* flash messages */

.flash-success {
	padding: 0.5em;
	border-radius: 5px;
	color: #000;
	background: lightgreen;
	text-align: center;
	margin-bottom: 0.5em;
}

.flash-error {
	padding: 0.5em;
	border-radius: 5px;
	color: #000;
	background: lightcoral;
	text-align: center;
	margin-bottom: 0.5em;
}

.flash-warning {
	padding: 0.5em;
	border-radius: 5px;
	color: #000;
	background: lightyellow;
	text-align: center;
	margin-bottom: 0.5em;
}

/* ##############

	admin dashboard 

 ############## */

 .form-label {
	 font-weight: bold;
 }

 .make-admin {
	 margin-top: 1em;
 }

 .feed-link {
	color: #8f8f8f;
 }