/* ########################################
									FONTS
 ########################################## */

@font-face {
	font-family: "SourceSansPro";
	src: url("../assets/fonts/source-sans-pro/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Helsinki";
	src: url("../assets/fonts/helsinki/helsinki.ttf") format("opentype");
}

/* ########################################
									ELEMENTS
 ########################################## */

html {
	max-width: 100vw;
	margin: 0;
}

body {
	font-family: "SourceSansPro", Verdana, Tahoma, Arial, sans-serif;
	color: #3a3a3a;
  margin: 0;
	font-size: 1.2em;
	max-width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helsinki";
	color: #ff748c;
}

a {
	color: #3a3a3a;
	text-decoration: dashed underline #ff748c;
}

button {
	margin: 0;
	border: none;
	border: 1px solid #3a3a3a;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 0.8em;
	font-family: "SourceSansPro", Verdana, Tahoma, Arial, sans-serif;
}

code, pre {
	background: rgba(211, 211, 211, 0.5);
	padding: 0.25em;
}

input,
textarea {
	max-width: 100%;
}

/* ########################################
									CLASSES
 ########################################## */

.main {
	min-height: 100vh;
	padding: 2em;
	margin: auto;
	max-width: 960px;
}

.hidden {
	visibility: hidden;
}

/* ##############
		buttons
 ############## */

 .actions-button {
	background-color: rgba(211, 211, 211, 1);
	color: rgba(58, 58, 58, 1);
}

 .approve-button {
	margin: 0.25em auto;
}

.cancel-button {
	border: none;
}	

.failing-suspended-button {
	margin-top: 1em;
	border: 1px solid #3a3a3a
}

.search-button {
  margin: 1em auto 0;
  font-family: "Helsinki";
  border: 1px solid #ff748c;
  background: #fff;
  padding: 5px 10px;
}

.update-button {
	margin-top: 0.5em;
}

.browse-actions .actions-button {
	width: 6em;
}

.article-search button,
.login-form input {
  font-size: 1.2em;
}

.browse-actions {
	text-align: right;
	max-width: 300px;
}

.action {
	border: none;
	font-weight: bold;
	color: rgba(58, 58, 58, 1);
	background-color: rgba(211, 211, 211, 0.5);
	width: 100%;
}

.action:nth-child(odd) {
	color: rgba(58, 58, 58, 1);
	background-color: rgba(211, 211, 211, 0.5);
	border-bottom: none;
}

.action:nth-child(even) {
	background-color: rgba(211, 211, 211, 1);
	color: rgba(58, 58, 58, 1);
}

.reject-button,
.delete-button {
	color: rgba(255, 115, 140, 1);
	border-color: rgba(255, 115, 140, 1);
	background-color: #fff;
}

.admins-list div button,
.assign-admin button {
	float: right;
}

.action.excluded {
	color: rgba(255, 115, 140, 1);
	background-color: rgba(211, 211, 211, 0.25);
}

button:hover,
.action:hover {
	color: rgba(58, 58, 58, 1);
	background-color: rgba(255, 115, 140, 0.5);
}

/* ##############

	flash messages

 ############## */

#user-messages {
	position: sticky;
	top: 0;
}

.flash-success {
	padding: 0.5em;
	border-radius: 5px;
	color: #000;
	background: lightgreen;
	text-align: center;
	margin-bottom: 0.5em;
}

.flash-error {
	padding: 0.5em;
	border-radius: 5px;
	color: #000;
	background: lightcoral;
	text-align: center;
	margin-bottom: 0.5em;
}

.flash-warning {
	padding: 0.5em;
	border-radius: 5px;
	color: #000;
	background: lightyellow;
	text-align: center;
	margin-bottom: 0.5em;
}

.flash-close {
	color: gray;
	float: right;
	text-decoration: none;
	margin-right: 0.5em;
	cursor: pointer;
}

/* ##############
		footer
 ############## */

.footer {
	text-align: center;
	font-family: "Helsinki";
	padding: 2em 1em 1em 1em;
	background: #ff748c;
	color: #fff;
}

.footer a {
	color: #3a3a3a;
	text-decoration: none;
	font-weight: normal;
}

.credits {
  font-size: 0.9em;
  text-align: right;
	font-family: "SourceSansPro", Verdana, Tahoma, Arial, sans-serif;
  color: #3a3a3a;
}

.credits a {
  border-bottom: 2px dotted #fff
}

.icon {
	height: 80px;
	width: 80px;
}

.menu-icon {
	height: 2em;
	width: 2em;
}

.subscribe {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.subscribe a {
	text-decoration: none;
	color: #3a3a3a;
}

.subscription {
	text-align: center;
	margin-top: 1em;
}

header {
	margin: 0;
	padding: 2em 2em 1em 2em;
	background: #3a3a3a;
	color: #fff;
}

header a {
	color: #fff;
	text-decoration: underline #ff748c;
}

.nav {
  margin-top: 2em;
}

.nav a {
	text-decoration: none;
  color: #ff748c;
}

/* ###################
		archive and search
 ##################### */

.archive-and-search {
	border: 2px solid 	rgba(58,58,58,0.3);
  padding: 0.5em 0;
  margin: 1em 0;
	border-radius: 5px;
  text-align: center;
}

.archive-and-search a {
  color: #000;
}

.article-search {
  margin: 2em auto 0.5em;

}

.article-search input[type="text"],
input[type="email"].email-signup {
  margin: 1em auto 0;
  font-size: 2em;
  text-align: center;
  max-width: 100%;
}

/* ##############
		paged nav
 ############## */

.paged {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.next {
  text-align: right;
}

.prev {
  text-align: left;
}

/* ##############
		articles
 ############## */

.article-listing {
	background: rgba(58,58,58,0.1);
	border: 1px solid #fff;
	border-radius: 10px;
	margin: 1em;
	padding: 1em;
}

.article-listing * {
	margin-bottom: 0.5em;
	text-decoration: none;
}

.article-title {
	font-weight: bold;
	color: #3a3a3a;
	font-size: 1.2em;
}

.article-date {
	font-style: italic;
	font-size: 0.8em;
}

.article-tag {
	display: inline-block;
	font-size: 0.75em;
	font-style: italic;
	border: 1px solid #ff748c;
	border-radius: 5px;
	background: #fff;
	margin: 2px 1px;
	padding: 0.5em;
}

.blog-title a {
  font-weight: bold;
}

/* ##############
		tags
 ############## */

#top-tags {
  text-align: center;
}

#top-tags h3 {
  text-align: left;
}

.top-tag {
  font-family: "Helsinki";
  display: inline-block;
  font-size: 0.85em;
  border: 1px solid #ff748c;
  border-radius: 5px;
  background: #fff;
  margin: 2px 1px;
  padding: 0.5em;
}

.top-tag a {
  text-decoration: none;
  color: #3a3a3a;
}

/* ##############
	blogs browse 
 ############## */

.browse-blogs li {
	max-width: 100vw;
	display: grid;
	grid-template-columns: auto minmax(20%, 320px);
	/* grid-template-columns: auto 20%; */
}

.blog-listing-url a {
	word-wrap: break-word;
	overflow-wrap: anywhere;
}

.failing span,
.failing span a {
	color: red;
	text-decoration: line-through;
	font-style: italic;
}

.suspended span,
.suspended span a {
	color: rgba(159, 159, 159, 1);
	text-decoration: line-through;
}

span.failing-icon {
	color: red;
	border: 1px solid red;
	text-decoration: none;
	font-style: normal;
	padding: 0.125em 0.5em;
	margin-left: 1em;
}

span.suspended-icon {
	color: rgba(159, 159, 159, 1);
	border: 1px solid rgba(159, 159, 159, 1);
	text-decoration: none;
	font-style: normal;
	padding: 0.125em 0.5em;
	margin-left: 1em;
}

.excluded span.excluded-icon {
	color: rgba(159, 159, 159, 1);
	border: 1px solid rgba(159, 159, 159, 1);
	text-decoration: none;
	font-style: normal;
	padding: 0.125em 0.5em;
	margin-left: 1em;
}

span[class^=class-] {
	color: #3a3a3a;
	text-decoration: none;
	font-style: normal;
	padding: 0 0.5em;
	margin: 1em;
	line-height: 1.6em;
}

.class-0 {
	background-color: rgba(100, 131, 255, 0.5);
	border: 1px solid rgba(192, 214, 228, 1);
}

.class-1 {
	background-color: rgba(248, 200, 246, 0.5);
	border: 1px solid rgba(248, 200, 246, 1);
}

.class-2 {
	background-color: rgba(192, 214, 228, 0.5);
	border: 1px solid rgba(192, 214, 228, 1);
}

.class-3 { 
	background-color: rgba(128, 218, 128, 0.5);
	border: 1px solid rgba(128, 218, 128, 1);
}

.class-4 {
	background-color: rgba(255, 240, 178, 0.5);
	border: 1px solid rgba(255, 240, 178, 1);
}

.class-5 {
	background-color: rgba(211, 173, 157, 0.5);
	border: 1px solid rgba(211, 173, 157, 1);
}

.class-6 {
	background-color: rgba(114, 95, 163, 0.5);
	border: 1px solid rgba(114, 95, 163, 1);
}

.class-7 {
	background-color: rgba(250, 100, 48, 0.5);
	border: 1px solid rgba(250, 100, 48, 1);
}

.class-8 {
	background-color: rgba(119, 215, 191, 0.5);
	border: 1px solid rgba(119, 215, 191, 1);
}

.class-9 {
	background-color: rgba(191, 101, 30, 0.5);
	border: 1px solid rgba(191, 101, 30, 1);
}

.class-10 {
	background-color: rgba(179, 141, 31, 0.5);
	border: 1px solid rgba(179, 141, 31, 1);
}

ul.browse-blogs {
	list-style: none;
}

.browse-blogs hr {
	color:rgba(159, 159, 159, 0.25);
	background-color:rgba(159, 159, 159, 0.25);
	border: 0 none;
	height: 1px;
}

/* #################
		user dashboard 
 ################### */

#user-info input {
	font-size: 1em;
	font-family: "SourceSansPro", Verdana, Tahoma, Arial, sans-serif;
}

.user-info {
	margin-bottom: 1em;
}

.user-form-vals {
	display: grid;
	grid-template-columns: 6em minmax(8em, 20em);
	margin-bottom: 0.25em;
	font-size: 1em;
	font-family: "SourceSansPro", Verdana, Tahoma, Arial, sans-serif;
}

.user-info-vals {
	margin-bottom: 6px;
}

.pocket-info {
	margin-top: 1em;
}

/* TODO: is this used? what is it for? */
.profile-value {
	border: none;
	border-bottom: 1px dotted #3a3a3a;
	font-family: "SourceSansPro";
	font-size: 0.8em;
}

.blog-list {
	list-style: none;
}

.listed-blog {
	margin-bottom: 0.5em;
}

.approved-blog {
	display: inline-block;
	width: 1em;
	height: 1em;
	background: lightgreen;
	border-radius: 50%;
	margin: auto 1em;
	vertical-align: text-bottom;
}

.unapproved-blog {
	display: inline-block;
	width: 1em;
	height: 1em;
	background: lightsalmon;
	border-radius: 50%;
	margin: auto 1em;
	vertical-align: text-bottom;
}

.awaiting-approval {
	font-style: italic;
	color: #8f8f8f;
}

.claimed-blogs,
.tips,
.admins-list,
.assign-admin {
	border: 1px solid #3a3a3a;
	border-radius: 5px;
	margin-top: 1em;
	padding: 1em;
}

.admin-checkbox {
	margin-right: 2em;
	width: 24px;
}

.deleting a {
	text-decoration: line-through;
	color: slategray;
}

.deleting .approved-blog {
	background-color: slategray;
}

.blog-editing-form {
	margin-left: 2em;
	display: inline;
}

.editing {
	background-color: rgba(255, 115, 140, 0.25);
	text-decoration: none;
}

.editing .approved-blog {
	background-color: rgba(211, 211, 211, 1);
}

.register-blog-button {
	margin-top: 1em;
}

.register-blog input,
.register-blog select {
	font-size: 1.25em;
	margin-top: 0.5em;
	max-width: 100%;
}

.tip {
	font-style: italic;
}

/* #################
		admin dashboard 
 ################### */

 .form-label {
	 font-weight: bold;
 }

 .make-admin {
	 margin-top: 1em;
 }

 .feed-link {
	color: #ff748c;
 }

 /* #################
		smaller screens 
 ################### */
@media only screen and (max-width : 600px) {

	.main {
		padding: 1em;
		max-width: 100vw;
		overflow-wrap: break-word;
	}
	
	.flash-success {
		overflow-wrap: normal;
	}

	/* HOME (/) and SEARCH (/search) */

	.article-search input[type="text"] {
		margin: auto;
		max-width: 90%;
	}

	.article-listing {
		margin: auto;
	}

	/* BROWSE (/browse) */

	.browse-actions {
		text-align: left;
		max-width: 50vw;
		margin-top: 1em;
	}

	.browse-blogs {
		margin: 0 -1em;
		padding: 1em;
	}

	.browse-blogs:nth-child(2n+1) {
		background-color: rgba(159, 159, 159, 0.1);
	}

	.browse-blogs hr {
		width: 0;
	}

	.browse-blogs ul,
	.browse-blogs li {
		grid-template-columns: auto; 
		list-style-type: none;
		list-style-position: inside;
		margin:0;
		padding:0; 
	}

	.browse-blogs span {
		display: block;
		width: fit-content;
		margin: 0.5em 0;
		text-align: center;
	}

	span[class^="class-"] {
		text-align: center;
	}

	.excluded span.excluded-icon {
		margin-left: 0
	}

	.browse-actions {
		width: 100%;
		max-width: 100%;
	}

	/* SUBSCRIBE (/subscribe) */

	.subscribe {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	/* ACCOUNT (/user) */

	.blog-list,
	.blog-list ul {
		list-style-position: inside;
		margin: 0;
		padding: 0;
	}

	.approved-blogs {
		border: 1px solid lightgreen;
		padding: 1em;
	}

	.unapproved-blogs {
		border: 1px solid lightcoral;
		padding: 1em;
		margin: 1em 0;
	}

	.approved-blogs span {
		display: block;
		margin-bottom: 0.5em;
	}

	.approved-blog,
	.unapproved-blog {
		display: none;
	}

	.listed-blog.editing {
		margin: -1em;
		padding: 1em;
	}

	.listed-blog:nth-child(1n+2) {
		border-top: 1px solid #3a3a3a;
		padding-top: 1em;
		margin-top: 1em;
	}

	.listed-blog {
		text-align: center;
	}

	.blog-editing-form {
		width: 100%;
		margin: auto;
		text-align: center;
	}

	.blog-editing-form select {
		margin-bottom: 1em;
	}

	/* ADMIN (/admin) */

	.claimed-blogs form {
		margin-top: 1em;
	}

	.claimed-blogs span {
		display: block;
	}

	.admins-list div button,
	.assign-admin button,
	.claimed-blogs button {
	margin-top: 1em;
	float: none;
}

}